body{
    color: white;
    font-family: 'K2D';
    background-color: #1B1E23;
}

.justify-text{
    text-align: justify;
}

.font-audiowide{
    font-family: 'Audiowide' !important;
}

.font-k2d{
    font-family: 'K2D' !important;
}

.font-arial{
    font-family: 'Arial' !important;
}

.color-8F8F8F{
    color: #8F8F8F;
}

.color-768499{
    color: #768499 !important;
}

.color-8F8F8F{
    color: #8F8F8F !important;
}

.color-white{
    color: white !important;
}

.background-color-0C111A{
    background-color: #0C111A;
}

.background-color-262B32{
    background-color: #262B32;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: underline;
}

.icon-side-bar{
    font-size: 2em;
}

.hr-title{
    width: 15%;
    min-width: 15%;
    max-width: 30%;
    margin: 0 !important;
    opacity: 100% !important;
}

.img-skills {
    max-width:150px;
    max-height:75px;
    width: auto;
    height: auto;
}

.mb-0{
    margin: 0 !important;
}

.border-background-color-262B32{
    border-color: #262B32 !important;
}

.card-project{
    margin-bottom: 1rem!important;
}

.required-input{
    color: red;
}

#navbar-mobile{
  left: 0;
  right: 0;
}

#ancora-about, #ancora-skills, #ancora-formation, #ancora-resume, #ancora-portifolio, #ancora-contact  {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -60px;
    background-color: transparent;
    z-index: -1;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 5%;
    display: none;
    background-color: #0C111A;
    border: #8F8F8F solid 1px;
    color: #fff;
}

p {
    color: #fff;
}

#list-about{
    list-style: none;
    padding-left: 0;
}

@media (max-width: 575px){
    #btn-back-to-top{
        width: 15% !important;
    }
}

@media (max-width: 991px) {
    #vr-divider-contact{
        display: none;
    }
    #btn-back-to-top{
        width: 10%;
    }
}

@media (max-width: 767px){
    #sidebar-me{
        display: none;
    }
    #article-about{
        margin-top: 70px;
    }
    #list-about-mobile{
        list-style: none;
        padding-left: 0;
    }
}

@media (min-width: 768px){
    #navbar-mobile{
        display: none;
    }   
     #section-about-mobile{
        display: none;
    }
}

@media (min-width: 992px) {
    #hr-divider-contact{
        display: none;
    }
}